:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --subtle-text-color: #8e8f99;
  --light-color: #f4f4fd;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white-color);
}

/* --- Утіліти --- */
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

button {
  cursor: pointer;
}


.container {
  padding: 0 15px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 318px;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.bit-logo {
  color: var(--dark-color);
}

/* ===== HEADER MOBILE ===== */
.mobile-open-btn {
  border: none;
  background-color: transparent;
  line-height: 0;
  padding: 16px 0;
}

.mobile-open-btn-icon {
  fill: #2F2F37;
}

/* === Mobile menu === */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-menu-cotainer {
  width: 320px;
  position: relative;
  padding: 72px 24px 40px 16px;
}

.mobile-menu-btn-close {
  position: absolute;
  border: 1px solid #E7E9FC;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn-close-icon {
  fill: #2E2F42;
}

.mob-menu-content {
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  position: relative;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--dark-color);
}

.mobile-menu-link.accent,
.mobile-menu-link-contacts.accent {
  color: var(--pressed-state-color)
}

.mobile-menu-contacts {
  margin-bottom: 48px;
}

.mobile-menu-item-contacts {
  margin-bottom: 24px;
}

.mobile-menu-item-contacts:last-child {
  margin-bottom: 0;
}

.mobile-menu-link-contacts {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #434455;
}

.mobile-menu-link-contacts:hover,
.mobile-menu-link-contacts:focus {
  color: var(--pressed-state-color);
}

.mobile-menu-soc-list {
  display: flex;
  column-gap: 40px;
}

.mobile-menu-soc-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--light-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-soc-link:hover,
.mobile-menu-soc-link:focus {
  background-color: var(--pressed-state-color);
}

/* === /Mobile menu === */

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  display: none;
}

.contacts {
  display: none;
}

/* ===== /HEADER MOBILE ===== */

/* ===== HERO MOBILE ===== */
.hero {
  max-width: 320px;
  height: 432px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/bg/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/bg/bg-mobile@2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 156px;

  color: var(--white-color);
}

.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;

  color: var(--white-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* ===== /HERO MOBILE ===== */

/* ===== OUR ADVANTAGES MOBILE===== */
.advantages-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.advantages-group {
  display: none;
}

.advantages-subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;

  color: var(--dark-color);
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}

/* ===== /OUR ADVANTAGES MOBILE===== */

/* ===== TEAM MOBILE===== */
.team {
  background-color: var(--light-color);
}

.team-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.description-team {
  text-align: center;
  padding: 32px 0;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-item {
  margin-bottom: 72px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: var(--white-color);
}

.team-item:last-child {
  margin-bottom: 0;
}

.team-name {
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--light-color);
}


/* ===== /TEAM MOBILE===== */

/* ===== PORTFOLIO MOBILE===== */
.portfolio-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-item {
  display: block;
  margin-bottom: 48px;
  background-color: var(--white-color);
  border: 1px solid #F4F4FD;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-overley-description {
  display: none;
}

.portfolio-description {
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===== /PORTFOLIO MOBILE===== */

/* ===== FOOTER MOBILE===== */
.page-footer {
  padding: 96px 0;
  background-color: var(--dark-color);
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-right: 0;

  color: var(--primary-brand-color);
}

.bitf-logo {
  color: var(--light-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--light-color);
}

.footer-pretitle,
.footer-subscribe-pretitle {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;

  color: var(--white-color);
}


.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--light-color);
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-input {
  width: 288px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: none;
  padding-left: 16px;
  margin-bottom: 16px;

  color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
  color: var(--white-color);
}

.footer-btn {
  font-family: inherit;
  display: inline-flex;
  max-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: transparent;

  color: var(--white-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.icon-telegram {
  margin-left: 16px;
}

/* ===== /FOOTER MOBILE===== */

/* ===== Modalka MOBILE===== */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  border: none;
  fill: var(--wight-color);
  background-color: var(--pressed-state-color);
}

.modal-close:active {
  background-color: var(--pressed-state-color);
  fill: var(--wight-color);
}

.icon-btn-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;

  color: var(--dark-color);
}

.modal-input-wrap,
.modal-comment {
  margin-bottom: 8px;
}

.modal-form-description {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;

  color: var(--subtle-text-color);
}

.modal-form-input {
  position: relative;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input,
.modal-textarea {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  color: var(--dark-color);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--primary-brand-color);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dark-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-input-icon {
  fill: var(--primary-brand-color);
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  height: 120px;
  padding: 8px 16px;
  resize: none;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.agreement {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 24px;
}

.modal-check-privacy {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--subtle-text-color);
}

.modal-checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked+.modal-check-privacy>.modal-checkbox-icon {
  background-color: var(--pressed-state-color);
  fill: var(--light-color);
  border: none;
}

.agreement-text {
  display: inline-block;
  vertical-align: middle;
}

.modal-agreement-link {
  color: var(--primary-brand-color);
  text-decoration-line: underline;
}

.modal-btn-send {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;

  color: var(--white-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: var(--pressed-state-color);
}

/* ===== /Modalka MOBILE===== */


/* --------- TABLET --------- */
@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }

  .mobile-menu {
    display: none;
  }

  /* ===== HEADER TABLET ===== */
  .mobile-open-btn {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }

  .menu-link {
    padding: 24px 0;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .navigation-link,
  .current {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;

    color: var(--dark-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link:hover,
  .navigation-link:focus,
  .current {
    color: var(--pressed-state-color);
  }

  .active::after {
    display: block;
    width: 100%;
    height: 4px;
    content: "";
    position: absolute;
    bottom: -1px;
    border-radius: 2px;
    background: var(--pressed-state-color);
  }

  .contacts {
    display: flex;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    font-style: normal;
    row-gap: 12px;
  }

  .contacts-link {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--pressed-state-color);
  }

  /* ===== /HEADER TABLET ===== */

  /* ===== HERO TABLET ===== */
  .hero {
    max-width: 768px;
    height: 436px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/bg/bg-tablet.jpg);
  }

  @media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/bg/bg-tablet@2x.jpg);
    }

    .hero-title {
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      margin-bottom: 36px;
      max-width: 496px;
    }
  }

  /* ===== /HERO TABLET ===== */

  /* ===== OUR ADVANTAGES TABLET===== */
  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-subtitle {
    text-align: start;
  }

  /* ===== /OUR ADVANTAGES TABLET===== */
  /* ===== TEAM TABLET===== */
  .team-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  }

  .team-item {
    margin-bottom: 0;
  }

  /* ===== /TEAM TABLET===== */

  /* ===== PORTFOLIO TABLET===== */
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-item {
    margin-bottom: 0;
    width: calc((100% - 24px) / 2);
  }

  /* ===== /PORTFOLIO TABLET===== */
  /* ===== FOOTER TABLET===== */
  .page-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 108px;
  }

  .footer-offer {
    margin-right: 24px;
  }

  .footer-logo {
    display: inline-block;
    margin-right: 0;
  }

  .footer-pretitle,
  .footer-subscribe-pretitle {
    text-align: start;
  }

  .footer-text {
    width: 264px;
  }

  .footer-subscribe-form {
    flex-direction: row;
    align-items: normal;
  }

  .footer-input {
    width: 264px;
    margin-bottom: 0;
    margin-right: 24px;
  }

  .footer-btn {
    min-width: 165px;
  }

  /* ===== /FOOTER TABLET===== */
  /* ===== Modalka TABLET===== */
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  /* ===== /Modalka TABLET===== */
}

/* --------- DESCTOP --------- */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* ===== HEADER DESCTOP ===== */
  .logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    font-style: normal;
    column-gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--pressed-state-color);
  }

  /* ===== /HEADER DESCTOP ===== */

  /* ===== HERO DESCTOP ===== */
  .hero {
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/bg/bg-desctop.jpg);
  }

  @media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/bg/bg-desctop@2x.jpg);
    }

    .hero-title {
      margin-bottom: 48px;
    }

    .hero-button {
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero-button:hover,
    .hero-button:focus {
      background-color: var(--pressed-state-color);
    }
  }

  /* ===== /HERO DESCTOP ===== */
  /* ===== OUR ADVANTAGES DESCTOP===== */
  .advantages-list {
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--subtle-text-color);
    background-color: var(--light-color);
  }

  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-text {
    font-weight: 400;
  }

  /* ===== /OUR ADVANTAGES DESCTOP===== */
  /* ===== TEAM DESCTOP===== */
  .team-soc-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-soc-link:hover,
  .team-soc-link:focus {
    background-color: var(--pressed-state-color);
  }

  /* ===== /TEAM DESCTOP===== */
  /* ===== PORTFOLIO DESCTOP===== */

  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }

  .portfolio-item {
    cursor: pointer;
    box-shadow: none;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-overlay {
    position: relative;
    overflow: hidden;
  }

  .portfolio-overley-description {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--light-color);
    background-color: var(--primary-brand-color);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover .portfolio-overley-description,
  .portfolio-item:focus .portfolio-overley-description {
    transform: translateY(0%);
  }

  .portfolio-description {
    border-right: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
    padding: 32px 16px;
  }

  /* ===== /PORTFOLIO DESCTOP===== */

  /* ===== FOOTER DESCTOP===== */
  .page-footer {
    padding: 100px 0;
  }

  .page-footer .container {
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 15px;
  }

  .footer-offer {
    margin-right: 120px;
  }

  .footer-logo {
    margin-right: 0;
  }

  .footer-text {
    margin-bottom: 0;
  }

  .footer-soc-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-soc-link:hover,
  .footer-soc-link:focus {
    background-color: #31d0aa;
  }

  .footer-soc {
    margin-right: 80px;
  }

  .footer-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-btn:hover,
  .footer-btn:focus {
    background-color: var(--pressed-state-color);
  }

  /* ===== /FOOTER DESCTOP===== */
}